@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.about-body-container {
  position: relative;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)),
    url("../../Component/Images/about-event.jpg");
  background-size: 60% 40%;
  background-repeat: no-repeat;
  background-position: calc(100% - 40%) 0%;
  height: 100vh; 
  width: 100vw; 
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", "Roboto", "Ubuntu",
    sans-serif;
  background-color: black;
}

.about-content {
  position: absolute;
  left: 20;
  color: aliceblue;
  top: 2%;
  left: 15%;
  /* background-color: aliceblue; */
  padding: 20px;
}

.about-content h1 {
  font-size: 48px;
  font-family: "Segoe UI", sans-serif;
  font-weight: 700;
  margin: 0; /* Remove default margin for h1 */
}
.para-cont {
  color: aliceblue;
  position: absolute;
  left: 20;
  color: aliceblue;
  /* text-align: center; */
  top: 42%;
  left: 15%;
  /* background-color: aliceblue; */
  padding: 20px;
  /* background-color: aliceblue; */
  width: 73%;
}
.card .abt-para-cont{
  margin-left: 70px;
}
.para-cont .paragraph {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
}


.section2-body-cont {
    display: flex;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
      url("../../Component/Images/section2-bg-img.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
  }
  
  .card-cont {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap:20px;
    margin: 1%;

  }
  
  .card-cont .card {
    background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent black background */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Semi-transparent white border */
    width: 100%;
    height: 50%;
    padding: 10%;
  }
  .card-cont {
    width: 45%;
    gap:30px;
    margin: 1%;

  }
  
  .card h1 {
    color: white;
    letter-spacing: 10px;
  }
  
  .card p {
    color: white;

  }
  @media screen and (max-width:1024px) {
    .card-cont {
      width: 55%;
      gap:30px;
      margin: 1%;
  
    }
    .para-cont .paragraph {
      font-family: "Raleway", sans-serif;
      font-size: 18px;
    }
    .card-cont .card {
      background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent black background */
      border: 1px solid rgba(255, 255, 255, 0.3); /* Semi-transparent white border */
      width: 110%;
      height: 50%;
      padding: 10%;
      gap: 15px;
    }
      .card p{
        font-size: 14px;
      }
  }

