@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

/* Base styles */
.corporate-body-cont {
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -0.55%;
  background-color: rgb(4, 5, 5);
}

.corporate-body-cont p {
  text-align: center;
  color: white;
  /* font-size: 1.6rem;  */
  font-weight: 300;
  line-height: 1.8em;
  /* font-family: Jost, sans-serif; */
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 50px;
}

.corp-heading-cont {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  text-align: center;
  background-color: black;
}

.corp-heading {
  background-color: black;
  text-align: center;
  color: white;
  font-size: 3.25rem; /* Base font size */
  font-weight: 800;
  letter-spacing: 0.5rem;
  /* font-family: 'Lulo Clean W01 One Bold', 'Lulo Clean W05 One Bold', sans-serif; */
  padding: 20px;
}

.corp-img {
  width: 100%;
  max-width: 980px;
  height: auto;
  object-fit: cover;
  margin-bottom: 5%;
}

.card-corporate-body-cont {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
}

.corp-card-cont {
  width: 65%;
  justify-content: center;
  height: 90%;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-top-right-radius: 8%;
  border-bottom-left-radius: 8%;
  color: aliceblue;
  background: radial-gradient(
    circle at center,
    transparent 70%,
    rgba(255, 204, 0, 0.5) 70%
  );
}

.corp-inner-card-cont {
  width: 99%;
  height: 99%;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: aliceblue;
  border-top-right-radius: 8%;
  border-bottom-left-radius: 8%;
  justify-content: center;
  gap: 10%;
  padding: 10%;
  position: relative;
  overflow: hidden;
  background-image: url("https://img.freepik.com/free-vector/gradient-luxury-background_23-2148981102.jpg?w=826&t=st=1721367981~exp=1721368581~hmac=65918ffcfac5984578b700a1013034722ff1496e9f3abdedfd67fa1d5ee679c1");
}

.corp-inner-card-cont h1 {
  font-size: 3.375rem; /* Base font size */
  background-color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.corp-inner-card-cont::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  border: 5px solid transparent;
  border-image: radial-gradient(
      circle,
      rgba(255, 204, 0, 0.8),
      rgba(255, 204, 0, 0)
    )
    1;
  border-radius: 50%;
  pointer-events: none;
}

.corp-inner-card-cont li {
  font-size: 1.5rem; /* Base font size */
  margin: 9px;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Responsive styles */
@media (max-width: 1440px) {
  .corporate-body-cont p {
    font-size: 1.4rem; /* Slightly smaller font */
    margin-left: 15%;
    margin-right: 15%;
  }

  .corp-heading {
    font-size: 2.875rem;
  }

  .corp-img {
    max-width: 80%;
  }

  .corp-card-cont {
    width: 60%;
    height: auto;
    flex-direction: column;
    border-radius: 6%;
  }

  .corp-inner-card-cont {
    padding: 7%;
    gap: 8%;
  }

  .corp-inner-card-cont h1 {
    font-size: 3rem;
  }

  .corp-inner-card-cont li {
    font-size: 1.375rem;
  }
}

@media (max-width: 1024px) {
  .corporate-body-cont p {
    font-size: 1.25rem; /* Reduced font size */
    margin-left: 10%;
    margin-right: 10%;
  }

  .corp-heading {
    font-size: 2.5rem;
  }

  .corp-img {
    max-width: 100%;
  }

  .corp-card-cont {
    width: 50%;
    height: auto;
    flex-direction: column;
    border-radius: 4%;
    align-items: center;
  }

  .corp-inner-card-cont {
    padding: 5%;
    gap: 5%;
  }

  .corp-inner-card-cont h1 {
    font-size: 2.625rem;
  }

  .corp-inner-card-cont li {
    font-size: 1.25rem;
  }

  .card-corporate-body-cont {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .corporate-body-cont p {
    font-size: 1.125rem; /* Further reduced font size */
    margin-left: 10%;
    margin-right: 10%;
  }

  .corp-heading {
    font-size: 2.25rem;
  }

  .corp-img {
    max-width: 80%;
  }

  .corp-card-cont {
    width: 100%;
    height: auto;
    flex-direction: column;
    border-radius: 6%;
  }

  .corp-inner-card-cont {
    padding: 7%;
    gap: 8%;
  }

  .corp-inner-card-cont h1 {
    font-size: 2.375rem;
  }

  .corp-inner-card-cont li {
    font-size: 1.125rem;
  }
}

@media (max-width: 425px) {
  .corporate-body-cont p {
    font-size: 1rem; /* Smallest font size */
    margin-left: 5%;
    margin-right: 5%;
  }

  .corp-heading {
    font-size: 2rem;
  }

  .corp-inner-card-cont h1 {
    font-size: 2rem;
  }

  .corp-inner-card-cont li {
    font-size: 1rem;
  }
}
