.bg-black {
  margin-top: 109px;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-black-rgb), var(--bs-bg-opacity)) !important;
}

.accordion-item {
  color: var(--bs-accordion-color);
  background-color: var(--bs-accordion-bg);
  border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
  padding-top: 17px;
  margin-top: 19px;
}

.bg-black {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-black-rgb), var(--bs-bg-opacity)) !important;
  margin-top: 59px;}

  .titl{
      color: gold;
      list-style: none;
      text-decoration: none;
  }

  .footer-color{
      background:black;
    
  }

  .footer-about p{
      color: white !important;
  }

  .footer-title{
      color: gold !important;
  }
  .footer-title ul li{
      color: white!important;
  }
  
  .desc{
      color: #ffffff !important;
  }

  .footer-titleul li a{
      color: gold !important;
  }

.footer-newsletter p{
      color: white !important;
  }

  .copyright p{
      color: white !important;
  }

  .footer-color{
      padding-top: 45px;
      padding-bottom: 15px;
  }

  a {
      color: white;
      text-decoration: underline;
  }

  ::marker {
      unicode-bidi: isolate;
      font-variant-numeric: tabular-nums;
      color: white;
      text-transform: none;
      text-indent: 0px !important;
      text-align: start !important;
      text-align-last: start !important;
  }

  a {
      color:white !important;
      text-decoration: underline;
  }

  .social-icon-style{
      display: flex;
      justify-content: center;
  }
 .facebook{
  padding: 0 25px;
 }

 .footer-logo img{
    width: 150px;
    border-radius: 50%;
 }

 .copyright .skdm{
    color: gold !important;
  }