.navbar-logo {
  width: 100px !important;
  height: auto;
}

.bg-body-tertiary {
  background-color: black !important;
}

/******************NAVLINKS******************/

.navbar-nav .nav-link {
  color: white !important; /* Force the link color to white */
  font-family: "Calistoga", serif;
}

.link {
  color: white !important; /* Default color */
}

.link.active {
  color: gold !important; /* Color for active link */
}

.link:hover,
.link:focus {
  color: rgb(211, 211, 211) !important; /* Hover and focus state */
}

/* Active link hover state */
.navbar-nav .nav-link.active:hover {
  color: gold !important; /* Change active link color to gold on hover */
}

.navbar-nav .dropdown-menu {
  background-color: black !important; /* Ensure dropdown background color is black */
}

.navbar-nav .dropdown-menu .dropdown-item {
  color: white !important; /* Force dropdown item color to white */
}

.navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar-nav .dropdown-menu .dropdown-item:focus {
  background-color: lightgray !important; /* Optional: Change background on hover */
  color: black !important;
}
.navbar-nav .dropdown-item.active,
.navbar-nav .dropdown-item:active {
  background-color: lightgray;

}
.navbar-toggler {
  background-color: white !important;
  
}

.linkdeco {
  text-decoration: none;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: none !important;
}

.underline {
  height: 2px;
  background-color: #f76c2f;
  margin-top: 5px;
}


@media screen and (max-width: 768px) {
  .navbar-nav {
    text-align: right;
    padding-right: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: end;
  }

  .nav-item .dropdown-menu.show {
    width: 100%;
    text-align: end !important;
    /* display: contents; */
  }
  .basic-nav-dropdown{
    text-align: end !important;
  }
  
}
